<div class="contents row" >
  <h5><%= @nickname %>さんのブログ一覧</h5>
  <% @blogs.each do |blog| %>
    <div class="content_post">
      <div class="col s12 m7">
          <div class="card horizontal">
              <div class="card-image">
                <div class="card-stacked">
                  <div class="card-content">
                    <h5>「<%= blog.name %>」</h5>
                      <div class="card-action">
                        <ul class = "more_list">
                          <li><%= link_to '[このブログを読む]', "/blogs/#{blog.id}", method: :get %>
                          <%= link_to '[編集]', "/blogs/#{blog.id}/edit", method: :get %>
                          <%= link_to '[削除]', "/blogs/#{blog.id}", method: :delete %></li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
