<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <style type="text/css" href="./style.css"></style>

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript" src="./app.js"></script>

  </body>

  <div class="contents row" >
    <% @blogs.each do |blog| %>
    <div class="content_post">
      <div class="col s12 m7">
          <div class="card horizontal">
              <div class="card-image">
                <div class="card-stacked">
                  <div class="card-content">
                    <h5>「<%= blog.name %>」</h5>(投稿者)<%= blog.user.nickname %>
                  </div>
                      <div class="card-action">
                        <ul class = "more_list">
                          <li><%= link_to '[このブログを読む]', "/blogs/#{blog.id}", method: :get %></li>
                         <% if user_signed_in? && current_user.id == blog.user_id %>
                          <li><%= link_to '編集', "/blogs/#{blog.id}/edit", method: :get %>
                          <%= link_to '削除', "/blogs/#{blog.id}", method: :delete %></li>
                          <% end %>
                        </ul>
                      </div>

                </div>
              </div>
          </div>
      </div>
    </div>
    <% end %>

  </div>

</html>

<%= paginate(@blogs) %>
